## Data Preparation with Bird Dataset

In [1]:
# import the required libraries
import pandas as pd

In [4]:
path = 'birds.csv'
birds = pd.read_csv(path)

In [8]:
# To see the number of rown and columns
birds.shape

(443, 13)

In [7]:
# To see the column names
birds.columns

Index(['Name', 'ScientificName', 'Category', 'Order', 'Family', 'Genus',
       'ConservationStatus', 'MinLength', 'MaxLength', 'MinBodyMass',
       'MaxBodyMass', 'MinWingspan', 'MaxWingspan'],
      dtype='object')

In [9]:
# To see some summary statistics of numerical columns
birds.describe()

,MinLength,MaxLength,MinBodyMass,MaxBodyMass,MinWingspan,MaxWingspan
count,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000
mean,28.536682,35.441986,327.938262,667.009752,58.557901,67.524492
std,20.319887,27.539772,779.680106,1655.682564,104.602369,126.673177
min,7.000000,8.900000,2.000000,3.000000,8.000000,10.600000
25%,13.750000,16.000000,18.000000,28.000000,23.000000,25.000000
50%,20.500000,25.000000,55.000000,89.000000,38.000000,42.000000
75%,39.000000,46.000000,332.000000,593.000000,72.750000,83.000000
max,138.000000,180.000000,9200.000000,14300.000000,1800.000000,2300.000000

In [11]:
# To view the top observations
birds.head()

,Name,ScientificName,Category,Order,Family,Genus,ConservationStatus,MinLength,MaxLength,MinBodyMass,MaxBodyMass,MinWingspan,MaxWingspan
0,Black-bellied whistling-duck,Dendrocygna autumnalis,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Dendrocygna,LC,47.0,56.0,652.0,1020.0,76.0,94.0
1,Fulvous whistling-duck,Dendrocygna bicolor,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Dendrocygna,LC,45.0,53.0,712.0,1050.0,85.0,93.0
2,Snow goose,Anser caerulescens,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Anser,LC,64.0,79.0,2050.0,4050.0,135.0,165.0
3,Ross's goose,Anser rossii,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Anser,LC,57.3,64.0,1066.0,1567.0,113.0,116.0
4,Greater white-fronted goose,Anser albifrons,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Anser,LC,64.0,81.0,1930.0,3310.0,130.0,165.0

In [12]:
# To view the last five observations
birds.tail()

,Name,ScientificName,Category,Order,Family,Genus,ConservationStatus,MinLength,MaxLength,MinBodyMass,MaxBodyMass,MinWingspan,MaxWingspan
438,Blue grosbeak,Passerina caerulea,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,14.0,19.0,26.0,31.5,26.0,29.0
439,Lazuli bunting,Passerina amoena,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,13.0,15.0,13.0,18.0,22.0,22.0
440,Indigo bunting,Passerina cyanea,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,11.5,15.0,11.2,21.4,18.0,23.0
441,Painted bunting,Passerina ciris,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,12.0,14.0,13.0,19.0,21.0,23.0
442,Dickcissel,Spiza americana,Cardinals/Allies,Passeriformes,Cardinalidae,Spiza,LC,14.0,16.0,25.6,38.4,24.8,26.0

In [14]:
# To detect null data
birds.isnull() # there are no null data in the dataset so it returns flase

,Name,ScientificName,Category,Order,Family,Genus,ConservationStatus,MinLength,MaxLength,MinBodyMass,MaxBodyMass,MinWingspan,MaxWingspan
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,False,False,False,False,False,False,False,False,False,False,False,False,False
439,False,False,False,False,False,False,False,False,False,False,False,False,False
440,False,False,False,False,False,False,False,False,False,False,False,False,False
441,False,False,False,False,False,False,False,False,False,False,False,False,False
442,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
# To sum the number of null values in each column
birds.isnull().sum() # returns zero for each since there are no null values in the dataset

Name                  0
ScientificName        0
Category              0
Order                 0
Family                0
Genus                 0
ConservationStatus    0
MinLength             0
MaxLength             0
MinBodyMass           0
MaxBodyMass           0
MinWingspan           0
MaxWingspan           0
dtype: int64

In [18]:
# To remove null values
birds.dropna

<bound method DataFrame.dropna of                              Name          ScientificName  \
0    Black-bellied whistling-duck  Dendrocygna autumnalis
1          Fulvous whistling-duck     Dendrocygna bicolor
2                      Snow goose      Anser caerulescens
3                    Ross's goose            Anser rossii
4     Greater white-fronted goose         Anser albifrons
..                            ...                     ...
438                 Blue grosbeak      Passerina caerulea
439                Lazuli bunting        Passerina amoena
440                Indigo bunting        Passerina cyanea
441               Painted bunting         Passerina ciris
442                    Dickcissel         Spiza americana

                  Category          Order        Family        Genus  \
0    Ducks/Geese/Waterfowl   Anseriformes      Anatidae  Dendrocygna
1    Ducks/Geese/Waterfowl   Anseriformes      Anatidae  Dendrocygna
2    Ducks/Geese/Waterfowl   Anseriformes      Anatidae        Anser
3    Ducks/Geese/Waterfowl   Anseriformes      Anatidae        Anser
4    Ducks/Geese/Waterfowl   Anseriformes      Anatidae        Anser
..                     ...            ...           ...          ...
438       Cardinals/Allies  Passeriformes  Cardinalidae    Passerina
439       Cardinals/Allies  Passeriformes  Cardinalidae    Passerina
440       Cardinals/Allies  Passeriformes  Cardinalidae    Passerina
441       Cardinals/Allies  Passeriformes  Cardinalidae    Passerina
442       Cardinals/Allies  Passeriformes  Cardinalidae        Spiza

    ConservationStatus  MinLength  MaxLength  MinBodyMass  MaxBodyMass  \
0                   LC       47.0       56.0        652.0       1020.0
1                   LC       45.0       53.0        712.0       1050.0
2                   LC       64.0       79.0       2050.0       4050.0
3                   LC       57.3       64.0       1066.0       1567.0
4                   LC       64.0       81.0       1930.0       3310.0
..                 ...        ...        ...          ...          ...
438                 LC       14.0       19.0         26.0         31.5
439                 LC       13.0       15.0         13.0         18.0
440                 LC       11.5       15.0         11.2         21.4
441                 LC       12.0       14.0         13.0         19.0
442                 LC       14.0       16.0         25.6         38.4

     MinWingspan  MaxWingspan
0           76.0         94.0
1           85.0         93.0
2          135.0        165.0
3          113.0        116.0
4          130.0        165.0
..           ...          ...
438         26.0         29.0
439         22.0         22.0
440         18.0         23.0
441         21.0         23.0
442         24.8         26.0

[443 rows x 13 columns]>

In [19]:
# To check for duplicates
birds.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
438    False
439    False
440    False
441    False
442    False
Length: 443, dtype: bool

In [21]:
# To remove duplicates
birds.drop_duplicates()

,Name,ScientificName,Category,Order,Family,Genus,ConservationStatus,MinLength,MaxLength,MinBodyMass,MaxBodyMass,MinWingspan,MaxWingspan
0,Black-bellied whistling-duck,Dendrocygna autumnalis,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Dendrocygna,LC,47.0,56.0,652.0,1020.0,76.0,94.0
1,Fulvous whistling-duck,Dendrocygna bicolor,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Dendrocygna,LC,45.0,53.0,712.0,1050.0,85.0,93.0
2,Snow goose,Anser caerulescens,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Anser,LC,64.0,79.0,2050.0,4050.0,135.0,165.0
3,Ross's goose,Anser rossii,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Anser,LC,57.3,64.0,1066.0,1567.0,113.0,116.0
4,Greater white-fronted goose,Anser albifrons,Ducks/Geese/Waterfowl,Anseriformes,Anatidae,Anser,LC,64.0,81.0,1930.0,3310.0,130.0,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,Blue grosbeak,Passerina caerulea,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,14.0,19.0,26.0,31.5,26.0,29.0
439,Lazuli bunting,Passerina amoena,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,13.0,15.0,13.0,18.0,22.0,22.0
440,Indigo bunting,Passerina cyanea,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,11.5,15.0,11.2,21.4,18.0,23.0
441,Painted bunting,Passerina ciris,Cardinals/Allies,Passeriformes,Cardinalidae,Passerina,LC,12.0,14.0,13.0,19.0,21.0,23.0
442,Dickcissel,Spiza americana,Cardinals/Allies,Passeriformes,Cardinalidae,Spiza,LC,14.0,16.0,25.6,38.4,24.8,26.0